config TINYPLATFORM
	bool "TinyPlatform Library"
	help
		This option enables the TinyPlatform Library

choice TINYPLATFORM_PLATFORM
	prompt "BUILD System"
	default ESP_PLATFORM if IDF_CMAKE
	default ZEPHYR_PLATFORM if ZEPHYR_CMSIS_MODULE
	help
		Use this option in Kconfig to select in if statement the platform to build for.
config ZEPHYR_PLATFORM
	bool "Zephyr"
	help
		Zephyr RTOS platform.
config ESP_PLATFORM
	bool "ESP"
	help
		ESP32 platform.
endchoice

menu "TinyPlatform configuration"

	config TINYPLATFORM_LOG
		bool "Enable logging"
		default "y"
		help
			Selects whether tinyplatform logs messages.

	config TINYPLATFORM_ASSERTS
		bool "Enable asserts"
		default "y"
		help
			Selects whether tinyplatform performs runtime assert checks.
endmenu
